__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.idea/
.vscode/
venv/
env/
Qwen/
qwen3-tts-frontend/node_modules/
qwen3-tts-frontend/dist/
qwen3-tts-frontend/.env
qwen3-tts-frontend/.env.local
CLAUDE.md
样本.mp3
aliyun.md
